@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rothenburg Decorative';
    src: url('/fonts/rothenbg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Olde English';
    src: url('/fonts/OldeEnglishRegular-Zd2J.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /*
  Font: 		Ghostech
  Style: 		Regular
  URL: 		https://youworkforthem.com/font/T24711/ghostech
  Foundry: 	Arief Setyo Wahyudi
  Foundry: 	https://youworkforthem.com/designer/909/arief-setyo-wahyudi
  Copyright:	
  Version: 	17
  Created:	July 03, 2024
  License: 	https://www.youworkforthem.com/font-license 
  License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
        WebFont license rules. All other parties are strictly restricted 
        from using the WebFonts(s) listed without a purchased license. 
        All details above must always remain unaltered and visible in your CSS.
  */

@font-face {
	font-family: 'Ghostech-Regular';
	src: url('/fonts/ghostech-regular.eot');
	src: url('/fonts/ghostech-regular.eot?#iefix') format('embedded-opentype'),
             url('/fonts/ghostech-regular.woff2') format('woff2'),
	     url('/fonts/ghostech-regular.woff') format('woff'),
	     url('/fonts/ghostech-regular.ttf') format('truetype'),
	     url('/fonts/ghostech-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

  #options-menu {
    display: none;
  }
  
  #options-menu-toggle-open {
    display: none;
  }

  :has(#options-menu-toggle:checked) {
    #options-menu {
      display: block
    }
    #options-menu-toggle-closed {
      display: none;
    }
    #options-menu-toggle-open {
      display: block;
    }
  }

  :has(#dark-mode-check:checked) {
    .dark-mode-label {
      background-color: #62a859;
    }
  }

  :has(#simple-font-check:checked) {
    .font-serif {
      font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    }
    .simple-font-label {
      background-color: #62a859;
    }
  }
}

@layer components {
  .post-body {
    @apply break-before-auto space-y-2; 

    h1, h2, h3, h4, h5, h6 {
      @apply text-4xl p-2;
    }
    h1 {
      @apply sm:text-7xl sm:p-5;
    }
    h2 {
      @apply sm:text-6xl sm:p-5;
    }
    h3 {
      @apply sm:text-5xl sm:p-5;
    }
    h4, h5, h6 {
      @apply sm:p-5
    }
    p {
      @apply text-2xl;
    }
  }
}

.footnotes {
  @apply text-xl;
  ol {
    list-style-type: decimal;
  }
}