---
import BasicContentLayout from '../layouts/BasicContentLayout.astro'

// layout: "../layouts/BasicMarkdownLayout.astro"
// title: "About"
---

<BasicContentLayout title="About">
    <p>Hi, my name is Justin</p>

    <p>
        I'm a fullstack engineer who has had a long-lasting love of technology
        and computers
    </p>

    <p>
        I've watched as the things I love have been rotted from the inside out
        by corporate interests and never ending profit
    </p>

    <p>
        This is my personal site, where I write whatever I feel like. Nothing
        here comes from anyone but myself, and I make no promises about the
        content
    </p>

    <p>It may include ramblings, musings, and other various writings</p>

    <p>
        If you feel so strongly, you can email me at <a
            href="mailto:me@justincovell.net">me@justincovell.net</a
        >
    </p>
    <p class="text-base">Generated with {Astro.generator}</p>
</BasicContentLayout>
