---
import { getCollection } from 'astro:content'
import '../layouts/BaseLayout.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const allPosts = await getCollection('posts', (e) =>
    import.meta.env.PROD ? !e.data.draft : true
)
allPosts.sort((a, b) => a.data.postDate.getTime() - b.data.postDate.getTime())
const latestPosts = allPosts.reverse().slice(0, 10)

const refrences = await getCollection('refrence')
refrences.sort(
    (a, b) => a.data.lastUpdated.getTime() - b.data.lastUpdated.getTime()
)
const latestRefrences = refrences.reverse().slice(0, 10)
---

<BaseLayout
    ><div class="flex flex-col sm:flex-row text-4xl">
        <div
            class="flex-1 p-5 divide-y-2 divide-paper-border dark:divide-current"
        >
            <h1 class="text-2xl my-2">Latest Posts</h1>
            <ul class="py-5 space-y-2">
                {
                    latestPosts.map((p) => (
                        <li>
                            <a href={`/posts/${p.id}`}>{p.data.title}</a>
                        </li>
                    ))
                }
                {latestPosts.length === 0 && <li>No posts</li>}
            </ul>
        </div>
        <div
            class="flex-1 p-5 divide-y-2 divide-paper-border dark:divide-current"
        >
            <h1 class="text-2xl my-2">Refrences</h1>
            <ul class="py-5 space-y-2">
                {
                    latestRefrences.map((p) => (
                        <li>
                            <a href={`/refrence/${p.id}`}>{p.data.title}</a>
                        </li>
                    ))
                }
                {latestRefrences.length === 0 && <li>No refrences</li>}
            </ul>
        </div>
    </div>
    <div
        class="p-5 divide-y-2 text-4xl divide-paper-border dark:divide-current"
    >
        <h1 class="text-2xl my-2">Things I like</h1>
        <ul class="py-5 space-y-2">
            <li><a href="https://shadertoy.com">Shadertoy</a></li>
            <li><a href="https://www.hackthissite.org/">Hack this site</a></li>
            <li><a href="https://riseup.net">riseup</a></li>
        </ul>
    </div>
</BaseLayout>
