---
import { getCollection } from 'astro:content'
import BasicContentLayout from '../layouts/BasicContentLayout.astro'

const pageTitle = 'My posts'
const allPosts = await getCollection('posts', (e) =>
    import.meta.env.PROD ? !e.data.draft : true
)
allPosts.sort((a, b) => b.data.postDate.getTime() - a.data.postDate.getTime())
---

<BasicContentLayout title={pageTitle}>
    <ul class="py-5 space-y-2 text-2xl sm:text-4xl">
        {
            allPosts.map((p) => (
                <li>
                    <a href={`/posts/${p.id}`}>{p.data.title}</a>
                </li>
            ))
        }
    </ul>
</BasicContentLayout>
