---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Justin Covell's personal site" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>Justin Covell's personal site</title>
        <link rel="preload" as="font" href="/fonts/ghostech-regular.woff2" />
        <link rel="preload" as="font" href="/fonts/ghostech-regular.ttf" />
        <style>
            /*
            Font: 		Ghostech
            Style: 		Regular
            URL: 		https://youworkforthem.com/font/T24711/ghostech
            Foundry: 	Arief Setyo Wahyudi
            Foundry: 	https://youworkforthem.com/designer/909/arief-setyo-wahyudi
            Copyright:	
            Version: 	17
            Created:	July 03, 2024
            License: 	https://www.youworkforthem.com/font-license 
            License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
                    WebFont license rules. All other parties are strictly restricted 
                    from using the WebFonts(s) listed without a purchased license. 
                    All details above must always remain unaltered and visible in your CSS.
            */

            @font-face {
                font-family: 'Ghostech-Regular';
                src: url('/fonts/ghostech-regular.eot');
                src:
                    url('/fonts/ghostech-regular.eot?#iefix')
                        format('embedded-opentype'),
                    url('/fonts/ghostech-regular.woff2') format('woff2'),
                    url('/fonts/ghostech-regular.woff') format('woff'),
                    url('/fonts/ghostech-regular.ttf') format('truetype'),
                    url('/fonts/ghostech-regular.svg#youworkforthem')
                        format('svg');
                font-weight: normal;
                font-style: normal;
                font-display: swap;
                size-adjust: 120%;
            }

            #options-menu {
                display: none;
            }

            #options-menu-toggle-open {
                display: none;
            }

            :has(#options-menu-toggle:checked) {
                #options-menu {
                    display: block;
                }
                #options-menu-toggle-closed {
                    display: none;
                }
                #options-menu-toggle-open {
                    display: block;
                }
            }

            :has(#dark-mode-check:checked) {
                .dark-mode-label {
                    background-color: #62a859;
                }
            }

            /* :not(:has(#simple-font-check:checked)) {
                letter-spacing: 0.1rem;
            } */

            :has(#simple-font-check:checked) {
                .font-serif {
                    font-family: ui-serif, Georgia, Cambria, 'Times New Roman',
                        Times, serif;
                }
                .simple-font-label {
                    background-color: #62a859;
                }
            }
        </style>
    </head>
    <body class="font-serif py-20 dark:bg-neutral-950 dark:text-white">
        <script>
            import { isSimpleFonts, darkMode } from '../store'

            const toggleSimpleFonts = () =>
                isSimpleFonts.set(!isSimpleFonts.get())
            const checkbox = document.getElementById(
                'simple-font-check'
            ) as HTMLInputElement
            if (checkbox !== null) {
                checkbox.onchange = toggleSimpleFonts
                isSimpleFonts.subscribe((v) => (checkbox.checked = v))
            }

            const toggleDarkMode = () => darkMode.set(!darkMode.get())
            const darkModeCheckbox = document.getElementById(
                'dark-mode-check'
            ) as HTMLInputElement
            if (darkModeCheckbox !== null) {
                darkModeCheckbox.onchange = toggleDarkMode
                darkMode.subscribe((v) => {
                    document.documentElement.classList.toggle('dark', v)
                    darkModeCheckbox.checked = v
                })
            }
        </script>
        <header class="font-serif">
            <div class="fixed right-5 top-0">
                <div
                    id="options-menu"
                    class="px-2 pb-5 border border-black dark:border-white border-b-0 border-t-0 leading-10"
                >
                    <div class="flex-1">
                        <input
                            id="simple-font-check"
                            type="checkbox"
                            class="absolute m-0 p-0 appearance-none overflow-hidden peer/simpleFont"
                        />
                        <label
                            for="simple-font-check"
                            class="rounded border-2 p-2 text-xs simple-font-label peer-focus/simpleFont:outline"
                            style="font-family: ui-serif;">Simple font</label
                        >
                    </div>
                    <div class="flex-1">
                        <input
                            id="dark-mode-check"
                            type="checkbox"
                            class="absolute m-0 p-0 appearance-none overflow-hidden peer/darkMode"
                        />
                        <label
                            for="dark-mode-check"
                            class="rounded border-2 p-2 text-xs dark-mode-label peer-focus/darkMode:outline"
                            >Dark Mode</label
                        >
                    </div>
                </div>
                <div>
                    <input
                        id="options-menu-toggle"
                        type="checkbox"
                        class="absolute m-0 p-0 appearance-none overflow-hidden peer"
                    />
                    <label
                        for="options-menu-toggle"
                        title="Open options"
                        id="options-menu-toggle-closed"
                        class="border border-black dark:border-white border-t-0 p-2 text-4xl max-h-8 pb-0 absolute top-0 right-5 peer-focus:outline"
                        >&Hacek;</label
                    >
                    <label
                        for="options-menu-toggle"
                        title="Close options"
                        id="options-menu-toggle-open"
                        class="border border-t-0 border-black dark:border-white text-4xl max-h-8 p-2 pb-0 peer-focus:outline"
                        >&circ;</label
                    >
                </div>
            </div>
            <h1 class="text-center text-6xl">This is my personal site</h1>
            <div
                class="flex justify-center m-5 border-b-2 border-gray-200 space-x-5 py-5 text-2xl"
            >
                <a href="/">Home</a>
                <a href="/posts">Posts</a>
                <a href="/about">About</a>
            </div>
        </header>
        <main class="p-5">
            <slot />
        </main>
    </body>
</html>
