---
import BaseLayout from './BaseLayout.astro'

interface Props {
    title: string
    tags?: string[]
}

const { title, tags } = Astro.props
---

<BaseLayout>
    <div class="sm:mx-20 space-y-5">
        <h1 class="text-4xl sm:px-10 sm:py-10 sm:text-7xl">
            {title}
        </h1>
        {
            tags && (
                <span class="text-sm space-x-2 pb-10">
                    Tagged: &nbsp;
                    {tags.map((t, i) => (
                        <a href={`/tagged/${t}`}>{t}</a>
                    ))}
                </span>
            )
        }
        <article class="post-body">
            <slot />
        </article>
    </div>
</BaseLayout>
