---
import BaseLayout from './BaseLayout.astro'

interface Props {
    title: string
    tags?: string[]
    postDate?: Date
    lastUpdated?: Date
}

const { title, tags, postDate, lastUpdated } = Astro.props
---

<BaseLayout>
    <div class="sm:mx-20 space-y-5">
        <h1 class="text-4xl sm:px-10 sm:py-10 sm:text-7xl">
            {title}
        </h1>
        <section class="flex flex-col">
            {
                postDate && (
                    <span class="text-sm">
                        Posted{' '}
                        {new Date(
                            postDate.setUTCHours(
                                new Date().getTimezoneOffset() / 60
                            )
                        ).toLocaleDateString()}
                    </span>
                )
            }
            {
                lastUpdated && (
                    <span class="text-sm">
                        Updated{' '}
                        {new Date(
                            lastUpdated.setUTCHours(
                                new Date().getTimezoneOffset() / 60
                            )
                        ).toLocaleDateString()}
                    </span>
                )
            }
            {
                tags && (
                    <span class="text-sm space-x-2 pb-10">
                        Tagged: &nbsp;
                        {tags.map((t, i) => (
                            <a href={`/tagged/${t}`}>{t}</a>
                        ))}
                    </span>
                )
            }
        </section>
        <article class="post-body">
            <slot />
        </article>
    </div>
</BaseLayout>
